<strong *ngIf="submitMessage" class="error-message">{{submitMessage}}</strong>
<div class="login-container">
   
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
       
      <label>
        Username
        <input  type="text" class="username"  formControlName="username" >
      </label>
 
      <label>
        password
        <input  type="password" class="password"  formControlName="password" >
      </label>
   
      <button  type="submit" mat-button>Submit</button>
    </form>
  </div>
  